{%extends 'index.html' %}
{%block site_nav%}
<nav>
  <ul class="nav nav-pills pull-right">
    <li role="presentation"><a href="/">Compare</a></li>
    <li role="presentation" class="active"><a href="/about">About</a></li>
  </ul>
</nav>
{%endblock%}

{%block page_body%}
<div class="jumbotron">
	<p class="lead">
		I put this website together to help people who are looking to compare the different types of car finance in the UK. 
	</p>
	<p class="lead">
	    It's perhaps purposely difficult to be able to compare the True financial costs of each type of deal. 
	</p>
	<p class="lead">
	    When I was comparing financing options for my new car I ended up creating an Excel spreadsheet to help. I've now converted that spreadsheet into this website so that others can hopefully get a better idea of the True costs of each deal they've been offered. 
	</p>
	<p class="lead">
	   Disclaimer stuff: 
		This is a guide. The different financial options available to you will also have different personal implications, for example long term commitments or more flexibility. The decision on which option you choose should therefore not be just based on the cheapest price but also your personal circumstances. This website is in no way making recommendations to you as an individual. The information is provided as is, as a guide and with no guarantee of accuracy. Several costs are not included, for example maintenance costs & insurance obligations. We take no responsibility for decisions you make based on the information provided to you by this website. This website uses Cookies. We reserve the right to monitor and record data input into this website in order to fix bugs and make improvements. Always check with a qualified financial advisor before making any financial decision. Do not make financial decisions based on this website. 
	</p>
</div>
{%endblock%}